---
layout: index
title: MING LI
---
<h2>{{ page.title }}</h2>

<!-- the latest post -->
<div class="blog-index">  
  {% assign post = site.posts.first %}
  {% assign content = post.content %}
  <div class="entry-content">{{ content }}</div>
</div>
<p></p>

<!-- list of ealier posts -->
<p>Earlier</p>
<ul>
　　{% for post in site.posts %}
	   {% if post != site.posts.first %}
　　　　<li>{{ post.date | date_to_string }} <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
       {% endif %}
　　{% endfor %}
</ul>